@import '../../styles/_variables';

.scale {
  position: absolute;
  &.file {
    display: inline-flex;
    justify-content: space-around;
    height: #{$scale-size}px;
    width: 100%; //#{map-get($chess-board, size)}px;
    > div {
      display: inline-flex;
      justify-content: center;
      width: calc(100%/8);
    }
    &.top {
      top: -#{$scale-size + 5}px;
    }
    &.bottom {
      bottom: -#{$scale-size + 5}px;
    }
  }
  &.rank {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: #{$scale-size}px;
    height: 100%; //#{map-get($chess-board, size)}px;
    > div {
      display: flex;
      align-items: center;
      height: calc(100%/8);
    }
    &.left {
      left: -#{$scale-size}px;
    }
    &.right {
      right: -#{$scale-size}px;
      > div {
        justify-content: flex-end;
      }
    }
  }
}
