@import "../../styles/_variables";

.scale {
  position: absolute;
  &.file {
    display: inline-flex;
    justify-content: space-around;
    height: #{$scale-size}px;
    width: #{map-get($chess-board, size)}px;
    &.top {
      top: -#{$scale-size + 5}px;
    }
    &.bottom {
      bottom: -#{$scale-size + 5}px;
    }
  }
  &.rank {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: #{$scale-size}px;
    height: #{map-get($chess-board, size)}px;
    &.left {
      left: -#{$scale-size}px;
    }
    &.right {
      right: -#{$scale-size}px;
      text-align: right;
    }
  }
}
