@import '../../styles/_variables';

#move-list {
  position: fixed;
  left: 0;
  width: $move-list--width;
  height: 100%;

  li {
    text-align: center;

    button {
      min-width: 100%;
      min-height: auto;
      padding: 0;
    }

    &.title,
    &.active > button {
      font-weight: bold;
    }
    &.active > button {
      background-color: transparent !important;
      color: inherit !important;
    }
  }
}
