@import '../../styles/_variables';

.chess-board {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: #{map-get($chess-board, size)};
  height: #{map-get($chess-board, size)};
  border: {
    width: $border-width;
    style: solid;
    color: map-get($chess-board, border-colour);
  }
}
