// Colour helpers
$darken-amount: 5%;

$white: #fff;
$grey95: #f2f2f2;
$grey94: #efefef;
$grey: #eee;
$grey80: #ccc;
$grey40: #666;
$light-black: #444;
$onyx: #0f0f0f;
$black: #000;

$gold: #ffd700;
$forest-green: #228b22;
$maroon: #800000;
$tanned: #d2b48c;
$burleywood: #deb887;
$khaki: #f0e68c;
$emerald: #50c878;
$dark-green: #515e54;

$satsuki-blue: #0117ff;
$satsuki-white: #fefefe;
$junketsu-eye-red: #ca273c;
$satsuki-hair-black: #1a1323;

// USAGES
$primary-background: $satsuki-blue;
$primary-colour: $satsuki-blue;
$primary-colour-contrast: $satsuki-white;

$secondary-background: $junketsu-eye-red;
$secondary-colour: $junketsu-eye-red;
$secondary-colour-contrast: $satsuki-hair-black;

$board-border-colour: $onyx;

$square-background-light: $grey;
$square-background-dark: $light-black;
$square-background-selected: $gold;
$square-background-in-check: $secondary-background;
$square-background-potential-move: $forest-green;
$square-background-potential-take: $maroon;

$anchor-colour: $junketsu-eye-red;
$anchor-colour-hover: $satsuki-hair-black;

// Super theme maps!
$theme-maps: (
  theme-one:
    (
      base-background: $white,
      base-colour: $black,
      colour: $satsuki-blue,
      contrast: $satsuki-white,
      anchor-colour: $anchor-colour,
      anchor-colour-hover: $anchor-colour-hover
    ),
  theme-two:
    (
      base-background: $black,
      base-colour: $white,
      colour: $junketsu-eye-red,
      contrast: $satsuki-hair-black,
      anchor-colour: $anchor-colour-hover,
      anchor-colour-hover: $anchor-colour
    )
);
$board-themes: (
  board-one:
    (
      board-border: $onyx,
      dark-square: $light-black,
      light-square: $grey
    ),
  board-two:
    (
      board-border: $burleywood,
      dark-square: $tanned,
      light-square: $khaki
    ),
  board-three:
    (
      board-border: $dark-green,
      dark-square: $forest-green,
      light-square: $emerald
    )
);
