@import "./_colours.scss";

$border-width: 3px;
$scale-size: 20;
$fixed-header-height: 50px;

$pieces: (
  black-pawn: 'black_pawn',
  black-rook: 'black_rook',
  black-knight: 'black_knight',
  black-bishop: 'black_bishop',
  black-queen: 'black_queen',
  black-king: 'black_king',
  white-pawn: 'white_pawn',
  white-rook: 'white_rook',
  white-knight: 'white_knight',
  white-bishop: 'white_bishop',
  white-queen: 'white_queen',
  white-king: 'white_king'
);

$square: (
  size: 40,
  light-background: $square-background-light,
  dark-background: $square-background-dark,
  selected: $square-background-selected,
  in-check: $square-background-in-check,
);
$chess-board: (
  size: map-get($square, size) * 8,
  border-colour: $board-border-colour
);

//z-index
$z-index: (
  wafer: 1,
  above-siblings: 10,
  header: 50,
  popover: 100,
  menu: 250
);
