@import './_colours.scss';

$base-font-size: 16px;
$border-width: 3px;
$scale-size: 20;
$fixed-header-height: 50px;
$chess-game-actions--height: 50px;
$chess-game--padding: 10px;
$chess-game-status--height: $base-font-size * 2;
$move-list--width: 150px;

$pieces: (
  black-pawn: 'black_pawn',
  black-rook: 'black_rook',
  black-knight: 'black_knight',
  black-bishop: 'black_bishop',
  black-queen: 'black_queen',
  black-king: 'black_king',
  white-pawn: 'white_pawn',
  white-rook: 'white_rook',
  white-knight: 'white_knight',
  white-bishop: 'white_bishop',
  white-queen: 'white_queen',
  white-king: 'white_king'
);

$square: (
  size: calc(100%/8),
  light-background: $square-background-light,
  dark-background: $square-background-dark,
  selected: $square-background-selected,
  selected-border: $square-border-selected,
  in-check: $square-background-in-check,
  in-check-border: $square-border-in-check,
  potential-move: $square-background-potential-move,
  potential-move-border: $square-border-potential-move,
  potential-take: $square-background-potential-take,
  potential-take-border: $square-border-potential-take,
  special-move: $square-background-special-move,
  special-move-border: $square-border-special-move
);
$chess-board: (
  size: 'auto',
  border-colour: $board-border-colour
);
// z-index
$z-index: (
  wafer: 1,
  above-siblings: 10,
  header: 50,
  popover: 100,
  menu: 250
);
