@import '../../styles/_variables';

.graveyard {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
  border: {
    width: $border-width;
    style: dashed;
    color: map-get($chess-board, border-colour);
  }

  .piece {
    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    width: #{map-get($square, size)}px;
    height: #{map-get($square, size)}px;
  }
}
