@import "../../styles/_colours";
@import "../../styles/_variables";

.satsuki-header {
  position: fixed;
  height: $fixed-header-height;
  width: 100%;
  background-color: $primary-background;
  color: $primary-colour-contrast;
  padding: 5px;
  z-index: 10;
  box-sizing: border-box;
}

#satsuki-svg {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
#navigation-links {
  position: absolute;
  top: 0;
  right: 10px;
  width: 33%;
  height: 100%;
  a {
    background-color: $primary-background;
    color: $primary-colour-contrast;
    padding: 8px;
    text-decoration: none;
    &:hover {
      background-color: darken($primary-background, $darken-amount);
    }
  }
}
.flex-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
