@import './styles/_variables.scss';

body {
  padding: 0;
  margin: 0;
}

body,
.button {
  font: 16px 'Roboto mono', monospace;
}

main {
  height: calc(100vh - #{$fixed-header-height});
  padding: 5px {
    top: $fixed-header-height;
  }
}

.center-contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

#chess-game {
  @extend .center-contents;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

#chess-game-status {
  display: flex;
  justify-content: center;
  margin: #{$scale-size + 15}px 0;
}
